body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.card{
    width: 360px;
    padding: 25px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    text-align: center;
}
.input-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}
textarea{
    resize: none;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
}
button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #22c55e;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    transform: scale(1.05);
}
.note{
    background: rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 12px;
    margin-top: 9px;
    display: flex;
    justify-content: space-between;
    gap: 1px;
    align-items: center;
}
.note-text{
    flex: 1;
    word-break: break-word;
}
.actions button{
    background: white;
    color: black;
    font-size: 10px;
    padding: 5px 8px;
    border-radius: 6px;
}
.actions {
  display: flex;
  gap: 8px;
}